{{#if formShow}}
  {{input value=title id="title" placeholder="title"}}
  {{textarea value=body id="body" placeholder="body"}}
  {{input value=author id="author" placeholder="author"}}
  <button {{action 'save'}}>save question!</button>
{{else}}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 new-question-cta">
      <button {{action 'showForm'}}>add question!</button>
    </div>
  </div>
{{/if}}
