{{#if formShow}}
  {{input value=body id="body"}}
  {{input value=author id="author"}}
  <button {{action 'save'}}>save answer!</button>
{{else}}
  <button {{action 'showForm'}}>add answer!</button>
{{/if}}
