
<div class="row">
  <div class="col-sm-1">
    <h3{{action 'upvote' answer}} class="upvote"> {{answer.upvotes}}</h3>
  </div>
  <div class="col-sm-1">
    <h3{{action 'downvote' answer}} class="downvote">{{answer.downvotes}}</h3>
  </div>
  <hr>
</div>
  <p>
    {{answer.body}}
  </p>
<div class="col-sm-3 col-sm-offset-9">
  <h5> -> {{answer.author}}</h5>
</div>
